<%= simple_form_for(@object) do |f| %>
  <div class="margin-top-table">
  <div class="jumbotron">
    <% @attributes.each do |attribute, v| %>
      <% options = {} %>
      <% options = { as: :datetime_picker } if v.type == :datetime %>
      <% options = { as: :date_picker } if v.type == :date %>
      <% if attribute.end_with? '_id' %>
      <% else %>
        <div class="form-group">
          <div class="row">
            <div class="col-md-2">
              <%= f.input attribute, options %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  </div>
  <div class="actions margin-top-table">
    <div class="row">
      <div class="col-md-2 col-md-offset-4">
        <h4><%= f.submit class: "btn btn-md btn-success" %></h4>
      </div>
      <div class="col-md-6">
        <h4><%= link_to 'Back', polymorphic_path(@object), class: "btn btn-md btn-primary" %></h4>
      </div>
    </div>
  </div>
<% end %>