<div class="container">
    <div class="col-md-6">
        <h3>Category and number of movies in each category</h3>
    </div>
    <table class="table table-bordered table-striped table-condensed table-hover report-table">
        <thead>
            <div class="row">
                <tr>
                <th>Category</th>
                <th>Number of Movies</th>
                </tr>
            </div>
        </thead>
    <tbody>
        <div class="row">
            <% @vquery.each do |p| %>
                <tr>
                <td><%= p['category'] %></td>
                <td><%= p['NumberOfVideos'] %></td>
                </tr>
            <% end %>
        </div>
    </tbody>
    </table>
</div>