<div class="container">
    <div class="col-md-6">
        <h4>Members that were born same year as Lorna Smith</h4>
    </div>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <div class="row">
                <tr>
                <th>First Name</th>
                <th>Last Name</th>
                </tr>
            </div>
        </thead>
    <tbody>
        <div class="row">
            <% @vquery.each do |p| %>
                <tr>
                <td><%= p['fName'] %></td>
                <td><%= p['lName'] %></td>
                </tr>
            <% end %>
        </div>
    </tbody>
    </table>
</div>