<div class="container">
    <div class="col-md-6">
        <h4>Number of female and male members</h4>
    </div>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <div class="row">
                <tr>
                <th>Member name</th>
                <th>Number</th>
                </tr>
            </div>
        </thead>
    <tbody>
        <div class="row">
            <% @vquery.each do |p| %>
                <tr>
                <td><%= p['sex'] %></td>
                <td><%= p['Number'] %></td>
                </tr>
            <% end %>
        </div>
    </tbody>
    </table>
</div>